<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>Ingeniero de Sistemas y Computación de la Universidad Tecnológica de Pereira, tengo experiencia en la instalación de cableado estructurado, instalación y configuración de sistemas operativos como Windows y Linux, administración de recursos informáticos,
    herramientas de software, instalación y configuración de software, conocimiento avanzado en herramientas de trabajo administrativo como, Word, Excel Avanzado, Project, Power Point, desarrollo de software en lenguajes como Java, Php, C++, MySQL y SQLDeveloper,
    JavaScript, Angular, Desarrollo web, conocimiento en desarrollo de aplicaciones MEAN Stack. Trabajo bajo herramientas de virtualización como VirtualBox, pruebas de calidad de software, trabajo bajo la metodología Scrum, conocimientos avanzados en
    la instalación de circuitos cerrados de vigilancia CCTV, mantenimiento preventivo y correctivo de equipos de cómputo.</p>

</article>